---
import ProfessionalLayout from '@src/layouts/ProfessionalLayout.astro';
---

<ProfessionalLayout metaTags={{ title: 'Projects' }}>
  <h1 class="title">Projects</h1>
</ProfessionalLayout>

<style>
  .title {
    text-align: center;
  }
</style>
