---
import ProfessionalLayout from '@src/layouts/ProfessionalLayout.astro';
---

<ProfessionalLayout metaTags={{ title: 'Résumé' }}>
  <h1 class="title">Résumé</h1>
</ProfessionalLayout>

<style>
  .title {
    text-align: center;
  }
</style>
