---
import { GetStaticPaths } from 'astro';
import SectionLayout from '@layouts/SectionLayout.astro';
import { PostFrontmatter } from '@src/types';
import { queryPosts } from '@src/utils/posts';

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  console.log('Building paths for blog tags');

  const allPosts = [...(await Astro.glob<PostFrontmatter>('./posts/*.mdx'))];
  const sortedPosts = queryPosts(allPosts, {
    tag: 'final',
  });

  return paginate(sortedPosts, {
    pageSize: parseInt(import.meta.env.POST_PAGE_SIZE),
  });
};

const { page } = Astro.props;
---

<!-- TODO - Post Card -->
<SectionLayout
  metaTags={{ title: 'JG - Lessons', description: 'Mostly Church Lessons' }}
  logoPath="/lessons"
>
  <h1 class="tag-title">Recent Lessons</h1>
  {
    page.data.map((post) => (
      <a href={post.url}>
        <div>
          {post.frontmatter.title} - {post.frontmatter.date}
        </div>
      </a>
    ))
  }
</SectionLayout>

<style lang="css">
  .tag-title {
    text-align: center;
  }
</style>
