/* Just going to serve fonts from Google */
/* Seems to work with swap just fine */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

/* Main theme colors */
:root {
  --content-width: 820px;
  --headerColor: rgba(0, 0, 0, 0.733);
  --bodyColor: rgba(0, 0, 0, 0.867);

  --color1: #002d5b;
  --color2: #f44800;
  --color3: #00af37;
  --color4: #45009e;

  --dt: 0.2s;
}

body {
  margin: 0px;
  padding-left: calc(100vw - 100%); /* prevent shift caused by scrollbar */
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  color: var(--headerColor);
}

a {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: var(--color2);

  &:visited {
    text-decoration: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

p {
  line-height: 1.5;
  font-size: 1.2rem;
}

blockquote {
  margin: 1em 1em 2em 1em;
  padding: 0.25em 2em;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 6px var(--headerColor);
  font-style: italic;
}

.md-content {
  & img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
}
