---
import SectionLayout from '@layouts/SectionLayout.astro';
---

<style>
  .links {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > h2 {
      margin: 0.25em auto;
    }
  }

  .blog {
    color: var(--color1);
  }

  .professional {
    color: var(--color2);
  }
</style>

<SectionLayout>
  <div class="links">
    <h2>
      <a class="blog" href="/blog">Blog</a>
    </h2>
    <h2>
      <a class="professional" href="/professional">Professional</a>
    </h2>
  </div>
</SectionLayout>
