---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<style>
	.content {
		max-width: var(--content-width);
		margin: auto;
	}
</style>

<BaseLayout>
	<div class="content">
		<h1>Welcome</h1>
		<a href="/blog">Blog</a>
	</div>
</BaseLayout>