---
import BaseImage from './BaseImage.astro';

export type Props = {
  path: string;
  name: string;
  alt: string;
  caption?: string;
  widths?: Array<number>;
};

const { path, name, alt, caption, widths } = Astro.props as Props;
---

<figure class="blog-image-container">
  <div class="blog-image">
    <BaseImage
      path={path}
      name={name}
      alt={caption ?? alt}
      widths={widths ?? [800, 1200, 1800, 2400]}
    />
    {caption && <figcaption class="caption">{caption}</figcaption>}
  </div>
</figure>

<style lang="css">
  .blog-image-container {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: min(var(--content-width), 100vw);
    transform: translateX(calc(50% - min(var(--content-width), 100vw) / 2));
  }

  .blog-image {
    width: min(var(--content-width), 100vw);
  }

  .caption {
    margin: 0.5em auto;
    padding: 0 1.2rem;
    font-style: italic;
    text-align: center;
    color: var(--headerColor);
  }
</style>
