---
import { colorMap, SiteColor } from '@src/utils/colors';

export type Props = {
  title: string;
  type: SiteColor;
};

const { type = 'blue', title } = Astro.props as Props;
const baseColor = colorMap[type];

const color = `${baseColor}AA`;
---

<div class="info-container">
  {title && <h3 class="title">{title}</h3>}
  <slot />
</div>

<style define:vars={{ color }}>
  .info-container {
    background-color: #dddddd70;
    padding: 1em 1em;
    border-radius: 0.25em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-left: 8px var(--color) solid;
    box-shadow: 2px 2px 2px #a7a7a7b0;
  }

  .info-container > :global(p) {
    font-size: 1.05rem;
  }

  .title {
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 1.2rem;
  }
</style>
