---
import { Image } from '@astrojs/image/components';
import logo from '@assets/icon-512px.png';

import type { NavItem } from 'src/types';

export type Props = {
  logoPath?: string;
  navItems: NavItem[];
};

const { navItems, logoPath } = Astro.props as Props;
const cursorType = logoPath ? 'pointer' : 'default';
---

<style define:vars={{ cursorType }}>
  .nav-sticky {
    top: 0;
    /* position: sticky; */
    width: 100%;
    background-color: white;
    z-index: 100;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  }

  .nav-container {
    padding: 1rem 0.5rem;
  }

  .nav-logo {
    display: block;
    margin: auto;
    height: 32px;
    width: 32px;
    cursor: var(--cursorType);
    margin-bottom: 1rem;

    & > a {
      height: 100%;

      & > img {
        max-height: 100%;
        width: auto;
      }
    }
  }

  .nav-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > a {
      font-weight: bold;
      margin: 0.2rem 0.3rem;
      cursor: pointer;
      font-size: 1.25rem;
      transition-duration: var(--dt);
      transition-property: color, opacity;

      &:nth-child(4n + 1) {
        color: var(--color1);
      }

      &:nth-child(4n + 2) {
        color: var(--color2);
      }

      &:nth-child(4n + 3) {
        color: var(--color3);
      }

      &:nth-child(4n + 4) {
        color: var(--color4);
      }
    }
  }
</style>

<div class="nav-sticky">
  <div class="nav-container">
    <div class="nav-logo">
      <a href={logoPath}>
        <Image src={logo} width={128} height={128} alt="App Logo" />
      </a>
    </div>
    <div class="nav-items">
      {navItems.map((item) => <a href={item.path}>{item.title}</a>)}
    </div>
  </div>
</div>
