---
import { PostFrontmatter } from '@src/types';
import { MarkdownInstance } from 'astro';

export type Props = {
  post: MarkdownInstance<PostFrontmatter>;
};

const { post } = Astro.props;
---

<a href={post.url}>
  <div>
    {post.frontmatter.title} - {post.frontmatter.date}
  </div>
</a>
