---
import { getAuthorsText } from '@utils/text-helpers';
import type { PostFrontmatter } from 'src/types';

export type Props = {
  content: PostFrontmatter;
};

const { content } = Astro.props as Props;

const authorsText = getAuthorsText(content.authors);
---

<style>
  .title-container {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .title {
    text-align: center;
    margin-bottom: 0.25em;
  }

  .author {
    text-align: center;
    font-style: italic;
  }
</style>

<div class="title-container">
  <h1 class="title">{content.title}</h1>
  {authorsText && <div class="author">By {authorsText}</div>}
</div>
