---
import { PostFrontmatter } from '@src/types';
import { MarkdownInstance } from 'astro';
import { format } from 'date-fns';

export type Props = {
  post: MarkdownInstance<PostFrontmatter>;
};

const { post } = Astro.props;

const postDate = new Date(post?.frontmatter?.date);
const formattedDate = format(postDate, 'LLLL do, yyyy');
---

<a href={post.url} class="post-card">
  <div class="post-card-title">
    {post.frontmatter.title}
  </div>
  <div class="post-card-date">
    {formattedDate}
  </div>
  {
    post?.frontmatter?.description && (
      <p class="post-card-description">{post.frontmatter.description}</p>
    )
  }
</a>

<style>
  .post-card {
    display: block;
    margin: 1.5em auto;
    color: var(--headerColor);
    &:hover {
      opacity: 1;
    }
    max-width: 500px;
  }

  .post-card-title {
    text-align: center;
  }

  .post-card-date {
    text-align: center;
  }

  .post-card-description {
    font-color: var(--bodyColor);
    font-size: 0.8em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
</style>
