---
import '@styles/global.css';
import "@fontsource/fira-sans/700.css";
import "@fontsource/lato/400.css";
import "@fontsource/lato/700.css";

export type Props = {
  title?: string,
}

const { title } = Astro.props as Props;
---

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicon.png">
  <title>{title || 'JG'}</title>
</head>

<body>
  <slot />
</body>

</html>