---
import BlogLayout from './BlogLayout.astro';
import PostTitle from '@components/PostTitle.astro';
import { getClient } from '@src/utils/imagekit-client';
import type { PostFrontmatter, MetaTags } from 'src/types';

export type Props = {
  frontmatter: PostFrontmatter;
};

const { frontmatter } = Astro.props as Props;

const imageUrl = getClient().url(
  { path: frontmatter.imagePath, 
    transformation: [{ width: 1200 }], 
  },
);

const metaTags: Partial<MetaTags> = {
  title: frontmatter.title,
  description: frontmatter.description,
  author: (frontmatter?.authors ?? []).join(','),
  image: imageUrl,
  keywords: frontmatter?.keywords ?? [],
};

console.log('Blog post layout metadate', { metaTags });
---

<BlogLayout metaTags={metaTags}>
  <PostTitle content={frontmatter} />
  <div class="md-content">
    <slot />
  </div>
</BlogLayout>
