---
import BlogLayout from "./BlogLayout.astro";
import PostTitle from "@components/PostTitle.astro";
import { PostFrontmatter, MetaTags } from "src/types";

export type Props = {
  content: PostFrontmatter;
};

const { content } = Astro.props as Props;

const metaTags: Partial<MetaTags> = {
  title: content.title,
  description: content.description,
  author: (content?.authors ?? []).join(','),
  image: content.imageUrl,
  keywords: content?.keywords ?? [],
};

// console.log(Astro.props);
---

<style is:global>
  .md-content {}
</style>

<BlogLayout metaTags={metaTags}>
  <PostTitle content={content} />
  <div class="md-content">
    <slot />
  </div>
</BlogLayout>