---
import Navbar from "@components/Navbar.astro";
import BaseLayout from "./BaseLayout.astro";

const items = [
  {
    title: 'Travel',
    path: '/blog/travel',
  },
  {
    title: 'Outings',
    path: '/blog/outings',
  },
  {
    title: 'Beliefs',
    path: '/blog/beliefs',
  },
];
---

<style>
  .content {
    max-width: var(--content-width);
    margin: auto;
  }
</style>

<BaseLayout title="JG Blog">
  <Navbar navItems={items} logoPath="/blog" />
  <div class="content">
    <slot />
  </div>
</BaseLayout>