---
import BlogLayout from './BlogLayout.astro';
import PostTitle from '@components/PostTitle.astro';
import { PostFrontmatter, MetaTags } from 'src/types';
import SectionLayout from './SectionLayout.astro';

export type Props = {
  frontmatter: PostFrontmatter;
};

const { frontmatter } = Astro.props as Props;

const metaTags: Partial<MetaTags> = {
  title: frontmatter.title,
  description: frontmatter.description,
  author: (frontmatter?.authors ?? []).join(','),
  image: frontmatter.imageUrl,
  keywords: frontmatter?.keywords ?? [],
};

// console.log(Astro.props);
---

<SectionLayout metaTags={metaTags} logoPath="/lessons">
  <PostTitle content={frontmatter} />
  <div class="md-content">
    <slot />
  </div>
</SectionLayout>
