---
import Navbar from "@components/Navbar.astro";
import { baseMetaTags } from "@data/default-tags";
import { MetaTags, NavItem } from "src/types";
import BaseLayout from "./BaseLayout.astro";

export type Props = {
  title?: string,
  navItems?: NavItem[],
  logoPath?: string,
  metaTags?: Partial<MetaTags>,
}

const {
  navItems = [],
  logoPath = '/',
  metaTags,
} = Astro.props as Props;

const tags = {
  ...baseMetaTags,
  ...metaTags,
}
---

<style>
  .content {
    position: relative;
    max-width: var(--content-width);
    padding: 0.5rem 1rem;
    margin: auto;
  }
</style>

<BaseLayout metaTags={tags}>
  <Navbar navItems={navItems} logoPath={logoPath} />
  <div class="content">
    <slot />
  </div>
</BaseLayout>