---
import BlogImage from '@src/components/BlogImage.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import localImg from 'src/images/Pinnacles.jpg';

const remoteImage = '/blog/desert-close-to-home/header.jpg';
---

<BaseLayout>
  <div class="image-page">
    <h1 style="text-align: center">A Local Image</h1>
    <BlogImage alt="Rad desert image" src={localImg} />

    <h1 style="text-align: center">A Remote Image</h1>
    <BlogImage alt="Rad desert image" src={remoteImage} />
  </div>
</BaseLayout>

<style lang="css">
  .title {
    margin: auto;
    text-align: center;
    padding: 1em;
  }

  .image-page {
    max-width: var(--content-width);
    margin: auto;
  }
</style>
